* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: antiquewhite;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

canvas {
  width: 50rem;
  height: 100rem;
  border: 0.3rem solid rgb(49, 28, 0);
}

.container {
  color: antiquewhite;
  font-family: Futura, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1rem;
  display: flex;
  width: 80rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
}

.bawitdaba {
  color: antiquewhite;
  text-shadow: -0.3rem -0.3rem 0.8rem rgba(85, 85, 85, 0.135),
    0.3rem 0.3rem 0.8rem rgba(240, 248, 255, 0.122);
  font-family: Futura, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  width: auto;
  transition: text-shadow 5s;
}

.bawitdaba:hover {
  color: antiquewhite;
  text-shadow: -0.3rem -0.3rem 1rem rgba(86, 86, 86, 0.45),
    0.3rem 0.3rem 1rem rgba(240, 248, 255, 0.43);
  cursor: pointer;
  transition: all 5s;
}
